  <ng-container matFormField class="selector-satellite">
    <mat-form-field>
    <mat-label for="satelliteSelector">Seleccionar Satélite</mat-label>
    <mat-select id="satelliteSelector" [(ngModel)]="selectedSatellite" (selectionChange)="onSatelliteSelect($event)">
      <mat-option value="SSOT">SSOT</mat-option>
      <mat-option value="EROS C3">EROS C3</mat-option>
      <mat-option value="EROS B">EROS B</mat-option>
      <mat-option value="ISS (ZARYA)">INTERNATIONAL SPACE STATION (ISS)</mat-option>
      <mat-option value="SDO">SOLAR DATA OBSERVATORY (SDO)</mat-option>
    </mat-select> 
    </mat-form-field>
  </ng-container>
  <ng-container matFormField class="input-satellite">
  <mat-form-field>
    <input matInput placeholder="Ingresar Satélite Manualmente" [(ngModel)]="manualSatellite" (input)="onManualSatelliteInput()">
  </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="getSatelliteInfo()" >Buscar</button>
  </ng-container>

